deployment/cdk/cdk.out
deployment/cdk/node_modules
deployment/cdk/package-lock.json
deployment/cdk/outputs.json
deployment/cdk/stacks/__pycache__
deployment/cdk/stacks/components/__pycache__/
deployment/terraform/.terraform
deployment/terraform/.terraform.lock.hcl
deployment/terraform/.terraform.tfstate.lock.info
deployment/terraform/terraform.tfstate
deployment/terraform/terraform.tfstate.backup
deployment/terraform/outputs.json
source/lambda/workflow_trigger/workflow_trigger.zip
source/lambda/workflow_complete/workflow_complete.zip
source/workflow-submissions
source/containers/build-deploy-containers.log
deployment/terraform/workflow-submissions/
deployment/cdk/workflow-submissions/
source/Gradio/.DS_Store
source/venv/
source/Gradio/workflow-submissions